html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.top-left {
    position: absolute;
    left: 10px;
    top: 18px;
}
@media only screen and (max-width: 1000px) {
    img{
        /* ajustar al tamaño */
        height: 300px;
        width: 100%;
    }
}


@media only screen and (min-width: 1300px) {
    img{
        /* ajustar al tamaño */
        width: 70%;
        margin: auto;
        height: 700px;
    }
  }

  /* No greater than 900px, no less than 400px */
@media (max-width:1300px) and (min-width:1000px) {
    img{
        /* ajustar al tamaño */
        width: 90%;
        margin: auto;
        height: 500px;
    }
}​

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    outline: black;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}